<body>

  <div class="jumbotron text-center">
    <h1>Welcome to EMS Homepage</h1>
    <p>This is a Demo project based on Brentmark</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Company</h3>
        <p>Square63</p>
      </div>
      <div class="col-sm-4">
        <h3>Project</h3>
        <p>EMS</p>
      </div>
      <div class="col-sm-4">
        <h3>Developer</h3>        
        <p>Arsalan Nawaz</p>
      </div>
    </div>
  </div>

</body>
