<div class='container float-right'>
  <div class='row align-items-center'>
    <div class='col-5'>
      <h2>My EMS Profile</h2>
      <%= form_for(@user, url: users_update_user_details_path(@user), html: { method: :get }) do |form| %>
        <%= render "shared/user_form_fields" %>

        <div class="actions mt-3">
          <%= form.submit "Update", class: 'btn btn-primary'%>
        </div>
      <% end %>

      <%= link_to "Back", :back, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
