<div class="jumbotron text-center">
  <h1>My Profile</h1>
  <p><%= link_to "Back to List", admin_users_list_path %></p>
</div>
<div class="page-content page-container" id="page-content">
  <div class="d-flex justify-content-center">
    <div class="card user-card-full">
      <div class="row">
        <div class="col-sm-8">
          <p class="m-b-10 f-w-600">Full Name</p>
          <h6 class="text-muted f-w-400"><%= @user.full_name %></h6>
        </div>
        <div class="col-sm-8">
          <p class="m-b-10 f-w-600">Email</p>
          <h6 class="text-muted f-w-400"><%= @user.email %></h6>
        </div>
        <div class="col-sm-8">
          <p class="m-b-10 f-w-600">Admin Status</p>
          <h6 class="text-muted f-w-400"><%= @user.admin %></h6>
        </div>
      </div>
    </div>
  </div>
</div>
